@import "../mixin.scss";
@import "~assets/public/common.scss";

.product-setting-module {
  &.active {
    box-shadow: -2px 0 15px #aeaeae;
    border-right: 2px solid #56a848;
  }
  @include module-box(80px);
  .empty-block {
    @include module-empty-block;
  }

  .product-setting-block-panel {
    padding: 0 10px;
    ul {
      padding-top: 5px;
      li {
        padding: 8px 10px;
        border-bottom: 1px solid #e4e4e4;
        .param-name {

        }
        .field-type {
          float: right;
        }
      }
    }
  }

  .green-layer {
    @include module-green-layer;
  }
}
