@import './util.scss';

ul, li {
  list-style: none outside none;
}

[v-cloak] {
  display: none;
}

.clearfix:after, .clearfix:before, .modal-footer:after, .modal-footer:before {
  display: table;
  content: " "
}

.clearfix:after, .modal-footer:after {
  clear: both
}
